{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block title %} This Post Title {% endblock %}

{% block content %}
    {% if comment_form.errors %}
        <div id="alert">
            <h2>Saving the comment failed!</h2>
            <p>Please check the comment form below the post and fix your errors.</p>
            <a href="#comment-form">Fix!</a>
        </div>
    {% endif %}

    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div id="tags">
            {% for tag in post.tags.all %}
                <span class="tag">{{ tag|title }}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            {% if not is_saved %}
                <form action="{% url "read_later" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button>Read Later</button>
                </form>
            {% else %}
                <form action="{% url "remove_read_later" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button>Remove from Read Later</button>
                </form>
            {% endif %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"M d, Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }}
    </main>

    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }}</h2>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section id="comment-form">
        <form action="{% url "post_detail" post.slug %}" method="POST">
            {% csrf_token %}
            {% for field in comment_form %}
                <div class="form-control {% if field.errors %}invalid{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button>Submit Comment</button>
        </form>
    </section>
{% endblock %}