{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock %}

{% block title %} Your Stored Posts {% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>Your Posts Saved for Later</h2>
        {% if has_posts %}
            <ul>
                {% for post in posts %}
                    {% include 'blog/includes/post.html' %}
                {% endfor %}
            </ul>
        {% else %}
            <p>You have not collected any posts yet!</p>
        {% endif %}
    </section>
{% endblock %}